In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [2]:
data = pd.read_csv('SBI.csv')
data.head()

,Unnamed: 0,id,fever_hours,age,sex,wcc,prevAB,sbi,pct,crp
0,1,57906,24.0,0.79,M,3.8,No,UTI,0.090000,17.700000
1,2,58031,48.0,1.91,F,25.3,Yes,UTI,4.400000,150.400000
2,3,58148,24.0,0.07,F,20.0,No,UTI,0.548136,47.359279
3,4,58169,72.0,0.95,M,6.0,No,UTI,0.310000,4.900000
4,5,58517,1.0,0.11,F,15.6,No,UTI,0.936872,31.394860

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2348 entries, 0 to 2347
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2348 non-null   int64
 1   id           2348 non-null   int64
 2   fever_hours  2348 non-null   float64
 3   age          2348 non-null   float64
 4   sex          2348 non-null   object
 5   wcc          2348 non-null   float64
 6   prevAB       2348 non-null   object
 7   sbi          2348 non-null   object
 8   pct          2348 non-null   float64
 9   crp          2348 non-null   float64
dtypes: float64(5), int64(2), object(3)
memory usage: 183.6+ KB

# Removing Unwanted Columns

In [9]:
data.drop(['Unnamed: 0','id'],axis=1,inplace=True)
data.head()

   fever_hours   age sex   wcc prevAB  sbi       pct         crp
0         24.0  0.79   M   3.8     No  UTI  0.090000   17.700000
1         48.0  1.91   F  25.3    Yes  UTI  4.400000  150.400000
2         24.0  0.07   F  20.0     No  UTI  0.548136   47.359279
3         72.0  0.95   M   6.0     No  UTI  0.310000    4.900000
4          1.0  0.11   F  15.6     No  UTI  0.936872   31.394860

# Encoding the catogorical values

In [10]:
encode = LabelEncoder()
data['sex'] = encode.fit_transform(data['sex'])
data['prevAB'] = encode.fit_transform(data['prevAB'])
data['sbi'] = encode.fit_transform(data['sbi'])

In [11]:
data.head()

   fever_hours   age  sex   wcc  prevAB  sbi       pct         crp
0         24.0  0.79    1   3.8       0    3  0.090000   17.700000
1         48.0  1.91    0  25.3       1    3  4.400000  150.400000
2         24.0  0.07    0  20.0       0    3  0.548136   47.359279
3         72.0  0.95    1   6.0       0    3  0.310000    4.900000
4          1.0  0.11    0  15.6       0    3  0.936872   31.394860

In [23]:
x = data.drop('sbi',axis=1)
y = data.drop(['fever_hours', 'age', 'sex', 'wcc', 'prevAB', 'pct', 'crp'],axis=1)
data.to_csv('edited.csv')

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [11]:
model = KNeighborsClassifier(n_neighbors=1)
model.fit(x,y)
y_pred = model.predict(x_test)
y_pred

C:\Users\revan\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

array([1, 1, 2, 3, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 3, 3,
       1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 0, 1, 1, 1, 3, 2, 1, 1, 2, 3, 1, 1,
       1, 3, 1, 1, 2, 1, 1, 2, 2, 2, 1, 1, 3, 1, 1, 3, 1, 3, 1, 3, 1, 1,
       1, 3, 3, 1, 1, 1, 1, 1, 2, 3, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 1, 2,
       1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 3, 1, 3, 1, 1, 1, 2, 1, 3, 1, 3,
       2, 1, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 3, 1, 0, 1, 1, 3,
       1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 1, 1,
       1, 1, 1, 1, 3, 1, 2, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 1, 1, 0, 2, 1, 3, 1, 1, 1, 2, 1, 1, 1, 2, 3, 1, 2, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 0, 1, 2, 1, 1, 1, 2, 3, 3, 1, 1,
       1, 1, 1, 3, 1, 1, 1, 1, 1, 2, 1, 1, 1, 3, 1, 2, 1, 2, 1, 1, 1, 1,
       1, 3, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 0, 3, 1, 1, 1, 1, 1, 1, 3,
       1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1, 2, 1, 1, 2, 1, 3, 1,
       2, 1, 1, 1, 1, 3, 1, 2, 2, 1, 2, 1, 3, 3, 1, 1, 1, 3, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 1, 2, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1,
       1, 1, 3, 1, 2, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 2, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 3, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 3, 1, 2, 2, 1, 1, 1,
       1, 1, 1, 3, 3, 3, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 3, 3, 1, 3,
       1, 2, 1, 3, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 3, 1, 2, 2, 1, 3, 1,
       1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1,
       1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 3, 3,
       1, 3, 3, 1, 2, 1, 1, 3, 3, 1, 3, 1, 1, 1, 1])

In [12]:
from sklearn.metrics import accuracy_score
a = accuracy_score(y_test,y_pred)
a

1.0

In [13]:
y_test

      sbi
1855    1
2193    1
373     2
291     3
2012    1
...   ...
158     3
2191    1
768     1
915     1
1716    1

[587 rows x 1 columns]

In [15]:
data.head()

   fever_hours   age  sex   wcc  prevAB  sbi       pct         crp
0         24.0  0.79    1   3.8       0    3  0.090000   17.700000
1         48.0  1.91    0  25.3       1    3  4.400000  150.400000
2         24.0  0.07    0  20.0       0    3  0.548136   47.359279
3         72.0  0.95    1   6.0       0    3  0.310000    4.900000
4          1.0  0.11    0  15.6       0    3  0.936872   31.394860

In [20]:
data['sbi'].unique()

array([3, 2, 0, 1])

In [21]:
dat['sbi'].unique()

array(['UTI', 'Pneu', 'Bact', 'NotApplicable'], dtype=object)

In [1]:
from PyQt5 import QtWidgets
from PyQt5.QtWidgets import QDialog
from PyQt5.uic import loadUi
from PyQt5.QtWidgets import QApplication
import sys

r = []

class page1(QDialog):
    def __init__(self):
        super(page1,self).__init__()
        loadUi('1.ui',self)
        self.next1.clicked.connect(self.n1)
        
    def n1(self):
        r.append(int(self.feverhour.text()))
        widget.setCurrentIndex(widget.currentIndex()+1)
        
class page2(QDialog):
    def __init__(self):
        super(page2,self).__init__()
        loadUi('3.ui',self)
        self.next3.clicked.connect(self.n2)
        self.back3.clicked.connect(self.b2)      
        
    def n2(self):
        r.append(int(self.gender.text()))
        widget.setCurrentIndex(widget.currentIndex()+1)  
   
    def b2(self):
        r.pop()
        widget.setCurrentIndex(widget.currentIndex()-1)  
        
        
class page3(QDialog):
    def __init__(self):
        super(page3,self).__init__()
        loadUi('4.ui',self)
        self.next4.clicked.connect(self.n3)
        self.back4.clicked.connect(self.b3)      
    def n3(self):
        r.append(float(self.wcc.text()))
        widget.setCurrentIndex(widget.currentIndex()+1)  
   
    def b3(self):
        r.pop()
        widget.setCurrentIndex(widget.currentIndex()-1)  
        
        
class page4(QDialog):
    def __init__(self):
        super(page4,self).__init__()
        loadUi('5.ui',self)
        self.next5.clicked.connect(self.n4)
        self.back5.clicked.connect(self.b4)      
    def n4(self):
        r.append(float(self.pre.text()))
        widget.setCurrentIndex(widget.currentIndex()+1)  
   
    def b4(self):
        r.pop()
        widget.setCurrentIndex(widget.currentIndex()-1)  
        
        
class page5(QDialog):
    def __init__(self):
        super(page5,self).__init__()
        loadUi('6.ui',self)
        self.next6.clicked.connect(self.n5)
        self.back6.clicked.connect(self.b5)      
    def n5(self):
        r.append(float(self.pro.text()))
        widget.setCurrentIndex(widget.currentIndex()+1)  
   
    def b5(self):
        r.pop()
        widget.setCurrentIndex(widget.currentIndex()-1)  
        
        
class page6(QDialog):
    def __init__(self):
        super(page6,self).__init__()
        loadUi('7.ui',self)
        self.predict.clicked.connect(self.n6)
        self.back7.clicked.connect(self.b6)     
        self.n.clicked.connect(self.new)
        
    def n6(self):
        import pandas as pd
        from sklearn.model_selection import train_test_split
        from sklearn.neighbors import KNeighborsClassifier
        
        global r
        r.append(float(self.c.text()))
        data = pd.read_csv('edited.csv')
        x = data.drop(['sbi', 'age', 'Unnamed: 0'],axis=1)
        y = data.drop(['fever_hours', 'Unnamed: 0', 'age', 'sex', 'wcc', 'prevAB', 'pct', 'crp'],axis=1)
        x_train, x_test, y_train, y_test = train_test_split(x,y)
        model = KNeighborsClassifier(n_neighbors=1)
        model.fit(x,y)
        y_pred = model.predict([r])
        if y_pred==0:
            d = 'you have bacterial mengingitis infection'
            self.result.setText(d)
        elif y_pred==1:
            d = 'you have no infection'
            self.result.setText(d)
        elif y_pred==2:
            d = 'you have Pneumonia infection'
            self.result.setText(d)
        elif y_pred==3:
            d = 'you have Urinary tract infection'
            self.result.setText(d)
  
        
    def new(self):
        r.clear()
        widget.setCurrentIndex(widget.currentIndex()-5)  
        
        
    def b6(self):
        r.pop()
        widget.setCurrentIndex(widget.currentIndex()-1)  
        
        

        
        
if __name__ == '__main__':
    app = QApplication(sys.argv) 
    widget = QtWidgets.QStackedWidget()    
    page1 = page1()
    page2 = page2()  
    page3 = page3()
    page4 = page4()  
    page5 = page5()
    page6 = page6()
    widget.addWidget(page1)
    widget.addWidget(page2)
    widget.addWidget(page3)
    widget.addWidget(page4)
    widget.addWidget(page5)
    widget.addWidget(page6)
    widget.show()
    widget.setFixedWidth(781)
    widget.setFixedHeight(377)
    sys.exit(app.exec_())

C:\Users\revan\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\revan\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

SystemExit: 0

C:\Users\revan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3377: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [13]:
data['sbi'].unique()

array([3, 2, 0, 1])

In [3]:
f = pd.read_csv('edited.csv')
f.head()

   Unnamed: 0  fever_hours   age  sex   wcc  prevAB  sbi       pct         crp
0           0         24.0  0.79    1   3.8       0    3  0.090000   17.700000
1           1         48.0  1.91    0  25.3       1    3  4.400000  150.400000
2           2         24.0  0.07    0  20.0       0    3  0.548136   47.359279
3           3         72.0  0.95    1   6.0       0    3  0.310000    4.900000
4           4          1.0  0.11    0  15.6       0    3  0.936872   31.394860

In [ ]:
if y_pred==0:
    d = 'you have bacterial mengingitis infection'
    self.result.setText(d)
elif y_pred==1:
    d = 'you have no infection'
    self.result.setText(d)
elif y_pred==2:
    d = 'you have Pneumonia infection'
    self.result.setText(d)
elif y_pred==3:
    d = 'you have Urinary tract infection'
    self.result.setText(d)